header img {
    height: 80px;
    margin-left: 40px;
}

body {
    #background-image: url("Map.png");
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 10px;
    font-size: 24px;
   }

body2 {
    color: black;
    padding: 10px;
    margin: 200px;
    }


topic {
    font-family: sans-serif;
    margin-top: 100px;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
   }

main {
    color: black;
    padding: 10px;
    margin: 10px;
    }


header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
    margin: 10px;
}

header li {
    margin: 10px;
}

header li a {
    color: white;
    font-size:20px;
    text-decoration: none;
}
